<div>
  <h2 id="page-heading" data-cy="BlocHeading">
    <span>Blocs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bloc"
        [routerLink]="['/bloc/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Bloc </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="blocs?.length === 0">
    <span>No blocs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="blocs && blocs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Label</span></th>
          <th scope="col"><span>Element Name</span></th>
          <th scope="col"><span>Element Path</span></th>
          <th scope="col"><span>Etape Definition Id</span></th>
          <th scope="col"><span>Bloc Definition Id</span></th>
          <th scope="col"><span>Display</span></th>
          <th scope="col"><span>Etape</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bloc of blocs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/bloc', bloc.id, 'view']">{{ bloc.id }}</a>
          </td>
          <td>{{ bloc.name }}</td>
          <td>{{ bloc.label }}</td>
          <td>{{ bloc.elementName }}</td>
          <td>{{ bloc.elementPath }}</td>
          <td>{{ bloc.etapeDefinitionId }}</td>
          <td>{{ bloc.blocDefinitionId }}</td>
          <td>{{ bloc.display }}</td>
          <td>
            <div *ngIf="bloc.etape">
              <a [routerLink]="['/etape', bloc.etape?.id, 'view']">{{ bloc.etape?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/bloc', bloc.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/bloc', bloc.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(bloc)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
