<div>
  <h2 id="page-heading" data-cy="EtapeHeading">
    <span>Etapes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etape"
        [routerLink]="['/etape/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Etape </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etapes?.length === 0">
    <span>No etapes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etapes && etapes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Label</span></th>
          <th scope="col"><span>Etape Definition Id</span></th>
          <th scope="col"><span>Display</span></th>
          <th scope="col"><span>Parcours</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etape of etapes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etape', etape.id, 'view']">{{ etape.id }}</a>
          </td>
          <td>{{ etape.name }}</td>
          <td>{{ etape.label }}</td>
          <td>{{ etape.etapeDefinitionId }}</td>
          <td>{{ etape.display }}</td>
          <td>
            <div *ngIf="etape.parcours">
              <a [routerLink]="['/parcours', etape.parcours?.id, 'view']">{{ etape.parcours?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/etape', etape.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/etape', etape.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(etape)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
