<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-parcours-composition-heading" data-cy="ParcoursCompositionCreateUpdateHeading">Create or edit a Parcours Composition</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_inheritanceOrder">Inheritance Order</label>
          <input
            type="number"
            class="form-control"
            name="inheritanceOrder"
            id="field_inheritanceOrder"
            data-cy="inheritanceOrder"
            formControlName="inheritanceOrder"
          />
          <div
            *ngIf="
              editForm.get('inheritanceOrder')!.invalid &&
              (editForm.get('inheritanceOrder')!.dirty || editForm.get('inheritanceOrder')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('inheritanceOrder')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('inheritanceOrder')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_offre">Offre</label>
          <select class="form-control" id="field_offre" data-cy="offre" name="offre" formControlName="offre">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="offreOption.id === editForm.get('offre')!.value?.id ? editForm.get('offre')!.value : offreOption"
              *ngFor="let offreOption of offresCollection; trackBy: trackOffreById"
            >
              {{ offreOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_parcoursParent">Parcours Parent</label>
          <select
            class="form-control"
            id="field_parcoursParent"
            data-cy="parcoursParent"
            name="parcoursParent"
            formControlName="parcoursParent"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                parcoursDefinitionOption.id === editForm.get('parcoursParent')!.value?.id
                  ? editForm.get('parcoursParent')!.value
                  : parcoursDefinitionOption
              "
              *ngFor="let parcoursDefinitionOption of parcoursParentsCollection; trackBy: trackParcoursDefinitionById"
            >
              {{ parcoursDefinitionOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_parcoursChild">Parcours Child</label>
          <select
            class="form-control"
            id="field_parcoursChild"
            data-cy="parcoursChild"
            name="parcoursChild"
            formControlName="parcoursChild"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                parcoursDefinitionOption.id === editForm.get('parcoursChild')!.value?.id
                  ? editForm.get('parcoursChild')!.value
                  : parcoursDefinitionOption
              "
              *ngFor="let parcoursDefinitionOption of parcoursChildrenCollection; trackBy: trackParcoursDefinitionById"
            >
              {{ parcoursDefinitionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
