<div>
  <h2 id="page-heading" data-cy="EtapeDefinitionHeading">
    <span>Etape Definitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etape-definition"
        [routerLink]="['/etape-definition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Etape Definition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etapeDefinitions?.length === 0">
    <span>No etapeDefinitions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etapeDefinitions && etapeDefinitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Id</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Label</span></th>
          <th scope="col"><span>Parcours Definition</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etapeDefinition of etapeDefinitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etape-definition', etapeDefinition.id, 'view']">{{ etapeDefinition.id }}</a>
          </td>
          <td>{{ etapeDefinition.name }}</td>
          <td>{{ etapeDefinition.label }}</td>
          <td>
            <div *ngIf="etapeDefinition.parcoursDefinition">
              <a [routerLink]="['/parcours-definition', etapeDefinition.parcoursDefinition?.id, 'view']">{{
                etapeDefinition.parcoursDefinition?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etape-definition', etapeDefinition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etape-definition', etapeDefinition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(etapeDefinition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
