<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="etape">
      <h2 data-cy="etapeDetailsHeading"><span>Etape</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ etape.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ etape.name }}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
          <span>{{ etape.label }}</span>
        </dd>
        <dt><span>Etape Definition Id</span></dt>
        <dd>
          <span>{{ etape.etapeDefinitionId }}</span>
        </dd>
        <dt><span>Display</span></dt>
        <dd>
          <span>{{ etape.display }}</span>
        </dd>
        <dt><span>Parcours</span></dt>
        <dd>
          <div *ngIf="etape.parcours">
            <a [routerLink]="['/parcours', etape.parcours?.id, 'view']">{{ etape.parcours?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/etape', etape.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
