<div>
  <h2 id="page-heading" data-cy="ParcoursCompositionHeading">
    <span>Parcours Compositions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-parcours-composition"
        [routerLink]="['/parcours-composition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Parcours Composition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parcoursCompositions?.length === 0">
    <span>No parcoursCompositions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parcoursCompositions && parcoursCompositions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Inheritance Order</span></th>
          <th scope="col"><span>Offre</span></th>
          <th scope="col"><span>Parcours Parent</span></th>
          <th scope="col"><span>Parcours Child</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parcoursComposition of parcoursCompositions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/parcours-composition', parcoursComposition.id, 'view']">{{ parcoursComposition.id }}</a>
          </td>
          <td>{{ parcoursComposition.inheritanceOrder }}</td>
          <td>
            <div *ngIf="parcoursComposition.offre">
              <a [routerLink]="['/offre', parcoursComposition.offre?.id, 'view']">{{ parcoursComposition.offre?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="parcoursComposition.parcoursParent">
              <a [routerLink]="['/parcours-definition', parcoursComposition.parcoursParent?.id, 'view']">{{
                parcoursComposition.parcoursParent?.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="parcoursComposition.parcoursChild">
              <a [routerLink]="['/parcours-definition', parcoursComposition.parcoursChild?.id, 'view']">{{
                parcoursComposition.parcoursChild?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/parcours-composition', parcoursComposition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/parcours-composition', parcoursComposition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(parcoursComposition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
